.sectionHeader {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.pantryButtons {
    font-size: 12px;
    text-decoration: underline;
    color: gray;
}

.pantryButtons:hover {
    cursor: pointer;
}

.title {
    margin: 2px;
    border-bottom-style: solid;
}

.weeklyFoodContainer {
    width: 25%;
}

.weeklyPlanContainer {
    width: 74%;
}

.table {
    table-layout: fixed;
}

.tableRows {
    height: 100px;
    vertical-align: middle;
}

/* Mobile Accessibility */
@media only screen and (max-width: 600px) {

}

/* Tablet Accessibility */
@media only screen and (min-width: 600px) and (max-width: 820px)  {

}