.pantryButtons {
    font-size: 12px;
    text-decoration: underline;
    color: gray;
}

.pantryButtons:hover {
    cursor: pointer;
}

.foodPlanButtons {
    font-size: 14px;
    overflow: hidden;
}

.foodPlanButtons:hover {
    cursor: pointer;
    background-color: lightgray;
}