.pageBody {
    margin: 0% 2%;
}

.submit-form {
    max-width: 300px;
    margin: auto;
}

.edit-form {    
    max-width: 300px;
    margin: auto;
}

.pageHeader {
    font-family: 'Oswald', sans-serif;
}